.bg-hui{
  background-color: #f4f4f4;
}
.bg-lan{
  background-color: #5994f2;
}
.bg-zi{
  background-color:#46132d;
}
.bg-bai{
  background-color: #fff;
}
.bg-fooder{
  background-color:#666666;
}
.bg-130{
  background: #13000a;
}
