.columu-box{

}
.tab-main{
  display: none;
}
.columu-border{
  border-top:solid 4px #2c3444;
}
.columu-title{
  height: 48px;
  border-bottom:#5994f2 solid 1px;
  h3{
      display: inline-block;
      height: 48px;
      line-height: 48px;
      font-size: 30px;
      color: #5994f2;
      padding-left: 20px;
    }
  .tab-box{
    padding-left: 20px;
    li{
        float: left;
        height: 48px;
        text-align: left;
        padding-right: 20px;
      a{
        display: inline-block;
        width: 100%;
        color: #333;
        font-size: 18px;
        padding-top: 20px;
      }
    }
    .active a{
      font-size: 30px;
      color: #5994f2;
      padding-top: 10px;
    }
  }
  .u-rome{
    float: right;
    font-size: 16px;
    color: #bb496c;
    padding:0 20px;
    height: 48px;
    line-height: 48px;
    display: inline-block;
    font-family: '宋体';
    &:hover{
      text-decoration: underline;
      .col-cheng();
    }
  }
}
