#web-service{
    .service-ad{
        padding: 20px 0;
        li{
            float: left;
            width: 368px;
            height: 112px;
            margin: 10px;
            overflow: hidden;
        }
    }
    .service-menu{
        padding: 30px 0 0 0;
        li{
            float: left;
            padding: 4px 26px 6px 26px;
            text-align: center;
            margin-bottom: 10px;
            border-radius: 4px;
            a{
                display: inline-block;
                width: 100%;
                font-size: 18px;
            }
            img{
                display: block;
                margin: 0 auto 4px auto;
                text-align: center;
            }
            p{
                padding: 6px 0;
            }
        }
    }
}
.bottom-banner{
    .big{
        width: 784px;
        position: relative;
        .label{
            background:#ffa906;
        }
        .title{
            width: 754px;
            .rgba-background(rgba(255, 169, 6, 0.8));
        }
    }
    .small{
        width: 400px;
        .f1{
            position: relative;
            margin-bottom: 19px;
            .label{
                background:#20c1dd;
            }
            .title{
                width: 370px;
                .rgba-background(rgba(32, 193, 221, 0.8));
            }
        }
        .f2{
            position: relative;
            .label{
                background:#e74248;
            }
            .title{
                width: 370px;
                .rgba-background(rgba(231, 66, 72, 0.8));
            }
        }
    }
    .label{
            position: absolute;
            display: inline-block;
            top: 0;
            right: 0;
            padding: 11px 15px;
            font-size: 18px;
            color: #fff;
        }
        .title{
            display: block;
            position: absolute;
            bottom: 10px;
            left: 0;
            padding: 11px 15px;
            height: 50px;
            font-size: 14px;
            color: #fff;
            line-height: 24px;
            overflow: hidden;
        }
}