.pd10{
    padding: 10px 0;
}
.pd20{
    padding: 20px 0;
}
.pdt50{
    padding-top: 50px;
}
.pdl10{
    padding-left: 10px;
}
.pdl20{
    padding-left: 20px;
}
.pdr10{
    padding-right: 10px;
}
.pdb10{
    padding-bottom: 10px;
}
.pdb20{
    padding-bottom: 20px;
}
.pdb30{
    padding-bottom: 30px;
}
.pdb40{
    padding-bottom: 40px;
}
.pdb50{
    padding-bottom: 50px;
}
.pdt10{
    padding-top: 10px;
}
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.mb0{
    margin: 0;
}
.mb10{
    margin-bottom: 10px;
}
.mb20{
    margin-bottom: 20px;
}
.mb40{
    margin-bottom: 40px;
}
.mb50{
    margin-bottom: 50px;
}
.mr10{
    margin-right: 10px;
}
.mr20{
    margin-right: 20px;
}
.mr50{
    margin-right: 50px;
}
.ml10{
    margin-left: 10px;
}
.mr20{
    margin-right: 20px;
}
.mr50{
    margin-right: 54px;
}
.mg{
    margin: 0 auto;
}
