.top-search{
    width: 343px;
    height: 38px;
    float: left;
    background: #fff;
    margin-top: 33px;
    border: #5994F2 solid 2px;
    input{
        width: 285px;
        height: 34px;
        line-height: 34px;
        background: #fff;
        border: #fff solid 1px;
        text-indent: 4px;
        color: #928b8f;
        float: left;
        font-size: 14px;
    }
    a{
        display: inline-block;
        width: 56px;
        width: 54px\0;
        height: 40px;
        text-indent: -9999px;
        background: url(../../images/icon-search-btn.png) #5994F2 center no-repeat;
    }
}